.quiz-box {
    margin: auto;
    max-width: 600px;
}

.hidden {
    display: none;
}

h2 {
    font-size: 25x;
    color:black;
}

.score {
    position: absolute;
    top: 12px;
    right: 12px;
}

.countdown {
    position: absolute;
    top: 12px;
    left: 12px;
}

a:hover {
    color:hotpink
}